In [188]:
# Import SQL dependencies

import pandas as pd
from sqlalchemy import create_engine, Column, Integer, String, Float, Date
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
import psycopg2

In [189]:
# Import dataframe and csv files

latlong_csv = 'Resources/latlngcountries.csv'
covid_csv = 'Resources/WHO-COVID-19-global-data.csv'
lat_long_df = pd.read_csv(latlong_csv, encoding = 'ISO-8859-1')
covid_df = pd.read_csv(covid_csv, encoding = 'ISO-8859-1')

In [190]:
# Inspect and clean lat long df

lat_long_df = lat_long_df.rename(columns = {
    "Country":"CountryName"
})

lat_long_df = lat_long_df.rename(columns = {
    "CountryCode":"Country"
})

lat_long_df = lat_long_df[['Country', 'CountryName','Latitude','Longitude']]
lat_long_df = lat_long_df.dropna()
lat_long_df.set_index('Country')
lat_long_df.head()

  Country           CountryName   Latitude  Longitude
0      AD               Andorra  42.546245   1.601554
1      AE  United Arab Emirates  23.424076  53.847818
2      AF           Afghanistan  33.939110  67.709953
3      AG   Antigua and Barbuda  17.060816 -61.796428
4      AI              Anguilla  18.220554 -63.068615

In [191]:
# Inspect Covid Data

covid_df = covid_df.rename(columns = {
    "Country Name":"CountryName",
    "Cumulative Deaths":"Cumulative_Deaths",
    "Cumulative Confirmed":"Cumulative_Confirmed",
    "day":"Date"
})


covid_df = covid_df[['Country','CountryName','Region','Date','Deaths','Cumulative_Deaths','Confirmed','Cumulative_Confirmed']]
covid_df.head()

,Country,CountryName,Region,Date,Deaths,Cumulative_Deaths,Confirmed,Cumulative_Confirmed
0,AF,Afghanistan,EMRO,2020-02-25,0,0,1,1
1,AF,Afghanistan,EMRO,2020-02-26,0,0,0,1
2,AF,Afghanistan,EMRO,2020-02-27,0,0,0,1
3,AF,Afghanistan,EMRO,2020-02-28,0,0,0,1
4,AF,Afghanistan,EMRO,2020-02-29,0,0,0,1

In [192]:
# Define our tables

class latlong(Base):
    __tablename__ = 'latlong'
    id = Column(Integer, primary_key=True)
    Country = Column(String)
    CountryName =Column(String)
    Latitude=Column(Float)
    Longitude=Column(Float)
    
class covid(Base):
    __tablename__ = 'covid'
    id = Column(Integer, primary_key=True)
    Country = Column(String)
    CountryName=Column(String)
    Region=Column(String)
    Date=Column(Date)
    Deaths=Column(Integer)
    Cumulative_Deaths=Column(Integer)
    Confirmed=Column(Integer)
    Cumulative_Confirmed=Column(Integer)

In [193]:
# Reflect

Base.metadata.tables

immutabledict({'latlong': Table('latlong', MetaData(bind=None), Column('id', Integer(), table=<latlong>, primary_key=True, nullable=False), Column('Country', String(), table=<latlong>), Column('CountryName', String(), table=<latlong>), Column('Latitude', Float(), table=<latlong>), Column('Longitude', Float(), table=<latlong>), schema=None), 'covid': Table('covid', MetaData(bind=None), Column('id', Integer(), table=<covid>, primary_key=True, nullable=False), Column('Country', String(), table=<covid>), Column('CountryName', String(), table=<covid>), Column('Region', String(), table=<covid>), Column('Date', Date(), table=<covid>), Column('Deaths', Integer(), table=<covid>), Column('Cumulative_Deaths', Integer(), table=<covid>), Column('Confirmed', Integer(), table=<covid>), Column('Cumulative_Confirmed', Integer(), table=<covid>), schema=None)})

In [194]:
# Connect to ETL_Project_db in postgres, created prior to running code in PGAdmin

engine=create_engine(f'postgresql://postgres:postgres@localhost:5432/Project-3')

In [195]:
# Create tables

Base.metadata.create_all(engine)

In [196]:
# Check table_names

engine.table_names()

['latlong', 'covid']

In [197]:
# Import dataframes into SQL database

lat_long_df.to_sql(name='latlong', con=engine, if_exists='append', index=False)
covid_df.to_sql(name='covid', con=engine, if_exists='append', index=False)

In [198]:
#  Example to check work -> 

pd.read_sql_query('Select * from covid', con=engine).head()

,id,Country,CountryName,Region,Date,Deaths,Cumulative_Deaths,Confirmed,Cumulative_Confirmed
0,1,AF,Afghanistan,EMRO,2020-02-25,0,0,1,1
1,2,AF,Afghanistan,EMRO,2020-02-26,0,0,0,1
2,3,AF,Afghanistan,EMRO,2020-02-27,0,0,0,1
3,4,AF,Afghanistan,EMRO,2020-02-28,0,0,0,1
4,5,AF,Afghanistan,EMRO,2020-02-29,0,0,0,1