In [4]:
# Import SQL dependencies

import pandas as pd
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
import psycopg2

In [26]:
# Import dataframe and csv files

latlong_csv = 'Resources/latlngcountries.csv'
covid_csv = 'Resources/WHO-COVID-19-global-data.csv'
lat_long_df = pd.read_csv(latlong_csv, encoding = 'ISO-8859-1')
covid_df = pd.read_csv(covid_csv, encoding = 'ISO-8859-1')

In [27]:
# Inspect and clean lat long df

# lat_long_df.rename(columns = {
#    "Capital":"Latitude",
#    "Latitude":"Longitude",
#    "Longitude":"Country"
#})

# lat_long_df = lat_long_df[['Country','Capital','Latitude','Longitude']]
lat_long_df.head()

   Unnamed: 0 Country    Capital   Latitude             Longitude
0           0      AD  42.546245   1.601554               Andorra
1           1      AE  23.424076  53.847818  United Arab Emirates
2           2      AF  33.939110  67.709953           Afghanistan
3           3      AG  17.060816 -61.796428   Antigua and Barbuda
4           4      AI  18.220554 -63.068615              Anguilla

In [28]:
# Inspect Covid Data

covid_df = covid_df[['Country','Country Name','Region','Deaths','Cumulative Deaths','Confirmed','Cumulative Confirmed']]
covid_df.set_index('Country')
covid_df.head()

,Country,Country Name,Region,Deaths,Cumulative Deaths,Confirmed,Cumulative Confirmed
0,AF,Afghanistan,EMRO,0,0,1,1
1,AF,Afghanistan,EMRO,0,0,0,1
2,AF,Afghanistan,EMRO,0,0,0,1
3,AF,Afghanistan,EMRO,0,0,0,1
4,AF,Afghanistan,EMRO,0,0,0,1

In [ ]:
# Define our tables

class billboard(Base):
    __tablename__ = 'billboard'
    id = Column(Integer, primary_key=True)
    Rank=Column(Integer)
    Song=Column(String)
    Year=Column(Integer)
    Artist=Column(String)
    Lyrics=Column(String)
    Source=Column(String)
    fuzzy_name=Column(String)
    fuzzy_artist=Column(String)
    
class spotify_songs(Base):
    __tablename__ = 'spotify_songs'
    id = Column(Integer, primary_key=True)
    song_name=Column(String)
    artist_name=Column(String)
    album_names=Column(String)
    playlist=Column(String)
    fuzzy_name=Column(String)
    fuzzy_artist=Column(String)
    
class spotify_song_data(Base):
    __tablename__ = 'spotify_song_data'
    id = Column(Integer, primary_key=True)
    song_name=Column(String)
    song_popularity=Column(String)
    song_duration_ms=Column(String)
    acousticness=Column(Integer) 
    danceability=Column(Integer)
    energy=Column(Integer)
    instrumentalness=Column(Integer)
    key=Column(Integer)
    liveness=Column(Integer)
    loudness=Column(Integer)
    audio_mode=Column(Integer)
    speechiness=Column(Integer)
    tempo=Column(Integer)
    time_signature=Column(Integer)
    audio_valence=Column(Integer)
    
    
class fuzzy_key(Base):
    __tablename__ = 'fuzzy_key'
    id = Column(Integer, primary_key=True)
    Song_Name=Column(String)
    Matched_Name=Column(String) 
    Ratio_Value=Column(Integer)    
    Song_List_Index=Column(Integer)
    
class high_ratio_songs(Base):
    __tablename__ = 'high_ratio_songs'
    id = Column(Integer, primary_key=True)
    Song_Name=Column(String)
    Matched_Name=Column(String)
    Ratio_Value=Column(Integer)
    acousticness=Column(Integer) 
    danceability=Column(Integer)
    energy=Column(Integer)
    instrumentalness=Column(Integer)
    key=Column(Integer)
    liveness=Column(Integer)
    loudness=Column(Integer)
    audio_mode=Column(Integer)
    speechiness=Column(Integer)
    tempo=Column(Integer)
    time_signature=Column(Integer)
    audio_valence=Column(Integer)
    Rank=Column(Integer)
    Year=Column(Integer)

In [ ]:
# Reflect

Base.metadata.tables

In [ ]:
# Connect to ETL_Project_db in postgres, created prior to running code in PGAdmin

engine=create_engine(f'postgresql://postgres:postgres@localhost:5432/Project-3')

In [ ]:
# Create tables

Base.metadata.create_all(engine)

In [ ]:
# Check table_names

engine.table_names()

In [ ]:
# Import dataframes into SQL database

billboard_df.to_sql(name='billboard', con=engine, if_exists='append', index=False)
song_df.to_sql(name='spotify_songs', con=engine, if_exists='append', index=False)
spotify_data_df.to_sql(name='spotify_song_data', con=engine, if_exists='append', index=False)
fuzzy_df.to_sql(name='fuzzy_key', con=engine, if_exists='append', index=False)
high_ratio_songs.to_sql(name='high_ratio_songs', con=engine, if_exists='append', index=False)

In [ ]:
#  Example to check work -> 

pd.read_sql_query('select * from high_ratio_songs', con=engine).head()